// библиотека миксинов, здесь запрещено размещать проектные миксины

@mixin normalize() {
	* {
		box-sizing: border-box;
	}

	.clear {
		clear: both;
		width: 100%;
		height: 0;
		margin: 0;
		padding: 0;
		border: none;
	}
}