@import '../../node_modules/foundation-sites/scss/util/util';

$fa-font-path:'../assets/fonts/FontAwesome';

$global-width: rem-calc(1100) ;

$breakpoints: (
		small: 0,
		medium: 640px,
		large: 768px,
		xlarge: 1024px,
		xxlarge: 1100px,
);

//$bp-640: 'medium';
//$bp-768: 'large';
//$bp-1024: 'xlarge';
//
//$color-ef: #efefef;
//$color-blue: #214e98;
//$color-yellow: rgb(255,191,0);
//$color-yellow-light: #ffd453;
