html {
	font-size: 16px;
}

.block {
	background-image: url('../assets/img/sFQEtM54z6o.jpg');
	background-repeat: no-repeat;
	padding-left: 60px;
	min-height: calc(100vh + 500px);
	color: red;
}

input {
	&::placeholder {
		color: gray;
	}
}